<div class="usermodal">
    <% if current_user%>
        <h1>Edit <%= @conversation.title %></h1>

        <%= render 'form' %>
    <% else %>
        <% controller.redirect_to root_path %>
    <% end %>
</div>
