<div class="usermodal">
		<h1>Breakroom</h1>
		<br/>
	</div>

	<div class="topicButtons">
			<% @themes.first(5).each do |theme| %>
				<button class='btn btn-primary'><%= theme.name %></button>
			<% end %>
	</div>

	<%= button_to 'Add Topic', new_topic_path, remote: true, method: :get, class: 'btn btn-primary btn-block mb-5' %>

<div class='modal' id='AddTopicModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
        </div>
    </div>
</div>
